@import 'palette';

$titlebar-color: mix($SILVER_100, $SILVER_300, $weight: 30%);

@if $color-scheme == "dark" {
    $titlebar-color: mix($BLACK_500, $BLACK_700, $weight: 70%);
}

@function bg-color($level) {
    @if $color-scheme == "light" {
        // Views and inputs
        @if $level == 1 {
            @return white;
        // Background
        } @else if $level == 2 {
            @return $SILVER_100;
        // Sidebars and inline toolbars
        } @else if $level == 3 {
            @return mix($SILVER_100, $SILVER_300, $weight: 75%);
        // Titlebars and toolbars
        } @else if $level == 4 {
            @return $titlebar-color;
        }
    } @else if $color-scheme == "dark" {
        @if $level == 1 {
            @return $BLACK_300;
        } @else if $level == 2 {
            @return $BLACK_500;
        } @else if $level == 3 {
            @return mix($BLACK_500, $BLACK_700, $weight: 75%);
        } @else if $level == 4 {
            @return $titlebar-color;
        }
    }
}

@function outset-highlight($sides: "full") {
    $highlight:
        inset 1px 0 0 0 #{'alpha(@highlight_color, 0.07)'},
        inset -1px 0 0 0 #{'alpha(@highlight_color, 0.07)'};

    @if $sides == "top" or $sides == "full" {
        $highlight:
            inset 0 1px 0 0 #{'alpha(@highlight_color, 0.3)'},
            $highlight;
    }

    @if $sides == "bottom" or $sides == "full" {
        $highlight:
            inset 0 -1px 0 0 #{'alpha(@highlight_color, 0.2)'},
            $highlight;
    }

    @return $highlight;
}

@function outset-shadow($level) {
    @if $level == 1 {
        @return 0 1px 1px rgba(black, 0.05);
    } @else if $level == 2 {
        @return
            0 1px 1px rgba(black, 0.07),
            0 1px 2px rgba(black, 0.08);
    } @else if $level == 3 {
        @return
            0 1px 3px rgba(black, 0.12),
            0 1px 2px rgba(black, 0.24);
    }
}

@function rem($pixels, $text-size: 9pt) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($text-size)) {
        $text-size: $text-size * 1px;
    }

    // Workaround GTK clamping instead of rounding up
    @return ($pixels / $text-size * 1rem) + 0.000000001rem;
}

tabbar {
    min-height: rem(36px);

    background-color: bg-color(3);
    background-image:
        linear-gradient(
            to bottom,
            rgba(black, 0.15),
            rgba(black, 0.05) rem(1px),
            rgba(black, 0) rem(2px),
            rgba(black, 0),
            rgba(black, 0) calc(100% - #{rem(2px)}),
            rgba(black, 0.05) calc(100% - #{rem(1px)}),
            rgba(black, 0.15)
        );

    &:backdrop {
        background-color: bg-color(2);
    }

    // Matches the new tab and history buttons
    > box > button.image-button,
    > button.image-button {
        min-width: rem(24px);
    }

    tabbox {
        padding: 0 rem(3px);
    }

    tab {
        min-width: rem(130px);
        border-radius: rem(3px);
        // Slow to match the close button revealer transition
        transition: all 300ms ease-in;
        margin: rem(3px) 0;
        padding: 0;

        &.pinned {
            min-width: rem(30px);
        }

        .tab-content {
            padding: rem(3px);
        }

        &:hover:not(:checked) {
            background-color: bg-color(4);
        }

        &:checked {
            background-color: bg-color(1);
            box-shadow:
                outset-highlight(),
                0 0 0 1px rgba(black, 0.1),
                outset-shadow(2);

            &:backdrop {
                background-color: bg-color(2);
            }
        }
    }
}

.tab-drag-icon {
  tab {
    margin: rem(3px);
    background-color: bg-color(1);

    .tab-content {
      padding: rem(3px);
    }
  }
}
